body {
text-align: center;
}

h1 {
    color:black;   
}

p {
    color:black;
}

#drake {
    background-color:#02092b;
}

#taylor {
    background-color:pink;
}
#taylor:hover {
    background-color: red;
}
#shawn {
    background-color: grey;
}

#chain {
    background-color: white;
}

#bel {
    background-color: #2d0e70;
}

#kanye {
background-color: brown;
}

#ri {
    background-color: #192159;
}

#ri:hover {
    background-color: #32396b;
}

#sia {
    background-color: #b4b5ba;
}

#cal {
    background-color: #075602;
}

#sel {
    background-color: orange;
}


nav a {
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 20px;
    border
}

img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    border: 5px solid white;
}



p {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    color: black;
}

.up {
position: fixed;
bottom: 0;
right: 0;
margin: 0 15px 15px 0;
border-radius: 5%;
width: 60px;
height: 35px;
background: #FFF;
border: 3px solid #000;
cursor: pointer;
color: #000;
text-decoration: none;
text-align: center;
padding-top: 15px;
transition: all 0.3s ease-in-out;
}

.up:hover {
color: #FFF;
background-color: #000;
border: 3px solid #FFF;
}
